<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interest Seeker</title>
</head>
<body>
    <div class="titleContainer">
        <h1 id="title" >Interest Seeker</h1>
    </div>

    <div class="home">
        <p id="biotxt">
          Interest Seeker is a simple Restful API that consent you to record data of interesting locations <br>
          And allows to view a geographic map containing all the places in the database
          <br>
          <br>
          Check the Git Hub repository to view the code:
          <a id="ghLink" href="https://github.com/SusaPrt/interestSeeker">Link</a>
          <br>
          <hr> <br>
        </p>
    </div>
    <br>
  
    <div class="operations">
      <div class="edit">
        <p id="opBio"> 
            Add a new place
        </p>
        <form action="/op">
            <button type="submit" id="editBtn"> Edit</button> 
        </form>
    </div>
    
    <div class="map">
        <p id="mapBio">
            View the map
        </p>
        <form action="/map">
            <button type="submit" id="mapBtn"> Map</button>
        </form>
    </div>
  </div>
    
</body>
</html>